﻿@model User
@{
    ViewBag.Title = "Change password";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form asp-action="SelfEditPassword" asp-route-userId="@Model.Id" method="post">
                <h2>Change password</h2>
                <label for="inputOldPass">Input old password:</label>
                <input type="password" id="inputOldPass" class="form-control" name="oldPass"
                       required minlength="5" maxlength="128">
                <label for="inputFirstPass">Input new password:</label>
                <input type="password" id="inputFirstPass" class="form-control" name="firstPass"
                       required minlength="5" maxlength="128">
                <label for="inputSecondPass">Repeat new password:</label>
                <input type="password" id="inputSecondPass" class="form-control" name="secondPass"
                       required minlength="5" maxlength="128">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Change" />
                <a asp-controller="User" asp-action="List" asp-route-userId="@Model.Id" class="btn btn-lg btn-outline-dark btn-block">Back to profile</a>
            </form>
        </div>
    </div>
</div>