﻿@model User

@{
    ViewBag.Title = "User details";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.FirstName @Model.LastName</h3>
    </div>
    <div class="card-body">
        <div class="card border border-white ">
            <div>
                <img class="m-2"  alt="..." src="@($"data:image/jpg;base64,{Convert.ToBase64String(Model.Photo)}")">
            </div>
            <div>
                Department: @Model.Department
            </div>
            <div>
                Location: @Model.Location
            </div>
            <div>
                Position: @Model.Position
            </div>
            <div>
                Start Date: @Model.StartDate?.ToString("dd.MM.yyyy")
            </div>
            <div>
                Roles:
                @foreach (var userRole in Model.UserRoles)
                {
                    <span class="bg-danger text-white rounded-lg">@userRole.Role.Name</span>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-controller="User" asp-action="EditPassword" asp-route-userId="@Model.Id" class="btn btn-outline-dark">Change password</a>
    </div>
</div>