﻿@model LoginModel
@{
    ViewBag.Title = "Login";
    var isModelEmpty = Model is null;
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form asp-action="Login" method="post">
                <h2>Please sign in</h2>
                <label for="inputEmail" class="sr-only">Login</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Login" name="email"
                       required autofocus minlength="4" maxlength="128">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                       required minlength="5" maxlength="128">
                @if (!isModelEmpty && Model.LoginResult != LoginResult.Success)
                {
                    <p class="text-danger">@Model</p>
                }
                @Html.ValidationSummary(false)
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            </form>
        </div>
    </div>
</div>