﻿@model UserModel

@{
    ViewBag.Title = "User details";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.User.FirstName @Model.User.LastName</h3>
    </div>
    <div class="card-body">
        <div class="card border border-white ">
            <div class="bg-secondary text-white rounded-lg" style="width: 120px;">
                Department: @Model.User.Department
            </div>
            <div class="bg-secondary text-white rounded-lg" style="width: 120px;">
                Location: @Model.User.Location
            </div>
            <div class="bg-secondary text-white rounded-lg" style="width: 120px;">
                Position: @Model.User.Position
            </div>
            <div class="bg-secondary text-white rounded-lg" style="width: 120px;">
                Start Date: @Model.User.StartDate
            </div>
            @foreach (var role in Model.User.UserRoles)
            {
                <div class="bg-secondary text-white rounded-lg" style="width: 120px;">
                    Role: @role.Role.Name
                </div>
            }
        </div>
    </div>
    <div class="card-footer">
        <a asp-controller="Course" asp-action="List" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>