﻿@model CMSys.Web.ViewModels.TrainerListViewModel

@{
    ViewBag.Title = "List of Trainers";
    var list = Model.Users.Select(x => new SelectListItem(x.ToString(), x.Id.ToString())).ToList();
}

<div class="card">
    <div class="card-header">
        <h3 class="float-left">List of trainers</h3>
        <div class="float-right">
            <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modalCreate">
                <svg width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Group</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            @foreach (var trainer in Model.Trainers)
            {
                <tr>
                    <td>@trainer.TrainerGroup.Name</td>
                    <td>
                        <div class="">
                            <img class="m-2" alt="..." src="@($"data:image/jpg;base64,{Convert.ToBase64String(trainer.User.Photo)}")">
                        </div>
                    </td>
                    <td>@trainer.User.FirstName  @trainer.User.LastName</td>
                    <td>@trainer.Description</td>
                    <td>@trainer.VisualOrder</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modalEdit" onclick="modalFunctionEditTrainer('@trainer.Id')">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col">
                                    <form asp-controller="Trainer" asp-action="Delete" style="display: inline">
                                        <input type="hidden" name="id" value="@trainer.Id" />
                                        <button class="btn btn-link p-0">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal" id="modalCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create trainer</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <form>
                    <div class="form-group">
                        <label>Trainer</label>
                        <select class="form-control" id="trainer" asp-items="list"></select>
                    </div>
                    <div class="form-group">
                        <label>Trainer Group</label>
                        <select id="courseGroup" class="form-control" asp-items="@(new SelectList(Model.TrainerGroups, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Visual Order</label>
                        <input id="visualOrder" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="courseDescription">Description</label>
                        <textarea id="courseDescription" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalFunctionCreateTrainer()">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Update trainer</span>  <span id="trainerFullNameEdit"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <form>
                    <input type="hidden" id="trainerId" />
                    <div class="form-group">
                        <label>Trainer Group</label>
                        <select id="courseGroupEdit" class="form-control" asp-items="@(new SelectList(Model.TrainerGroups, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Visual Order</label>
                        <input id="visualOrderEdit" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="courseDescription">Description</label>
                        <textarea id="courseDescriptionEdit" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalFunctionUpdateTrainer()">Update</button>
            </div>
        </div>
    </div>
</div>