﻿@{
    ViewBag.Title = "404";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>
                    Oops!
                </h1>
                <h2>
                    404 Not Found
                </h2>
                <div>
                    Sorry, requested page not found!
                </div>
                <br />
                <div>
                    <a href="~/" class="btn btn-primary btn-lg">
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>