﻿@{
    ViewBag.Title = "Oops!";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>
                    Oops!
                </h1>
                <h2>
                    Generic error
                </h2>
                <div>
                    Oops, something went terribly wrong!
                </div>
                <br />
                <div>
                    <a href="~/" class="btn btn-primary btn-lg">
                        Okay. Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>