﻿@model UserEditModel

@{
    ViewBag.Title = "Update user";

    var list = Model.PotentialRoles.Select(x => new SelectListItem(x.Name, x.Id.ToString())).ToList();
}

<div class="card">
    <div class="card-header">
        <h3>Update user @Model.FirstName  @Model.LastName</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Change password</h2>
                    <form asp-action="EditUserPassword" asp-route-id="@Model.User.Id" style="display: inline">
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" name="firstPass" />
                        </div>
                        <div class="form-group">
                            <label>Repeat password again</label>
                            <input type="password" name="secondPass" />
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
                <div class="col">
                    <h2>Change roles</h2>
                    <table class="table table-striped table-sm table-bordered">
                        <tr>
                            <th>Trainer</th>
                            <th class="text-center" style="min-width: 150px">Action</th>
                        </tr>
                        @foreach (var userRole in Model.Roles)
                        {
                            <tr>
                                <td>@userRole.Role.Name</td>
                                <td class="text-center">
                                    <form asp-action="RemoveRole" asp-route-id="@Model.User.Id" style="display: inline">
                                        <input type="hidden" name="roleId" value="@userRole.RoleId" />
                                        <button class="btn btn-link p-0">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                    @if (list.Count() != 0)
                    {
                        <form asp-action="AddRole" asp-route-id="@Model.User.Id">
                            Add Role: <select asp-for="@Model.RoleId" asp-items="list"></select>
                            <input type="submit" class="btn btn-primary" value="Add" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="List" asp-route-model="@Model" class="btn btn-secondary">Return to users</a>
    </div>
</div>