﻿@model UserViewModel

@{
    ViewBag.Title = "Users";
    var prevDisabled = !Model.PaginatedList.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.NextPage ? "disabled" : "";
    var hidden = Model.PaginatedList.Count == 0 ? "invisible" : "";
}

<div class="card">
    <div class="card-header">
        <h3>List of users</h3>
        <form asp-action="List" asp-route-model="@Model" style="display: inline">
            <input type="text" name="search" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row d-flex justify-content-between">
            <div class="@hidden">
                <a asp-action="List" asp-route-model="@Model" asp-route-search="@Model.SearchText" asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)" class="btn btn-outline-secondary @prevDisabled">Previous</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-pageNumber="1" asp-route-search="@Model.SearchText" class="btn btn-outline-secondary @prevDisabled">1</a>
                @for (var i = 1; i <= Model.PaginatedList.TotalPages; i++)
                {
                    if (i == Model.PaginatedList.PageIndex)
                    {
                        if (Model.PaginatedList.PageIndex - 1 > 1)
                        {
                            <a>...</a>
                        }

                        if (i != 1 && i != Model.PaginatedList.TotalPages)
                        {
                            <a asp-action="List" asp-route-model="@Model" asp-route-search="@Model.SearchText" class="btn btn-outline-secondary" asp-route-pageNumber="@i">@i</a>
                        }

                        if (Model.PaginatedList.TotalPages - Model.PaginatedList.PageIndex > 1)
                        {
                            <a>...</a>
                        }
                    }
                }
                <a asp-action="List" asp-route-model="@Model" asp-route-search="@Model.SearchText" asp-route-pageNumber="@Model.PaginatedList.TotalPages" class="btn btn-outline-secondary">@Model.PaginatedList.TotalPages</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-search="@Model.SearchText" asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)" class="btn btn-outline-secondary @nextDisabled">Next</a>
            </div>
        </div>
        <br />
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Department</th>
                <th>Position</th>
                <th>Location</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            @foreach (var user in Model.PaginatedList)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>
                        <div class="">
                            <img class="m-2" alt="..." src="@($"data:image/jpg;base64,{Convert.ToBase64String(user.Photo)}")">
                        </div>
                    </td>
                    <td>@user.Department</td>
                    <td>@user.Position</td>
                    <td>@user.Location</td>
                    <td>@(user.EndDate is null ? "Yes" : "No")</td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a class="justify-content-center" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>