﻿@model CourseListViewModel

@{
    ViewBag.Title = "Courses";
    var prevDisabled = !Model.PaginatedList.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.NextPage ? "disabled" : "";
    var hidden = Model.PaginatedList.Count == 0 ? "invisible" : "";

    var listCoursesTypes = new List<SelectListItem> { new SelectListItem("All Types", "All Types") };
    listCoursesTypes.AddRange(Model.CourseTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
    listCoursesTypes.Add(new SelectListItem("None", "None"));

    var listGroups = new List<SelectListItem> { new SelectListItem("All Groups", "All Groups") };
    listGroups.AddRange(Model.CourseGroups.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
    listGroups.Add(new SelectListItem("None", "None"));
}

<div class="card">
    <div class="card-header">
        <h3>Courses</h3>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row d-flex justify-content-between">
            <div class="@hidden">
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)" class="btn btn-outline-secondary @prevDisabled">Previous</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="1" class="btn btn-outline-secondary @prevDisabled">1</a>
                @for (var i = 1; i <= Model.PaginatedList.TotalPages; i++)
                {
                    if (i == Model.PaginatedList.PageIndex)
                    {
                        if (Model.PaginatedList.PageIndex - 1 > 1)
                        {
                            <a>...</a>
                        }

                        if (i != 1 && i != Model.PaginatedList.TotalPages)
                        {
                            <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" class="btn btn-outline-secondary" asp-route-pageNumber="@i">@i</a>
                        }

                        if (Model.PaginatedList.TotalPages - Model.PaginatedList.PageIndex > 1)
                        {
                            <a>...</a>
                        }
                    }
                }
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@Model.PaginatedList.TotalPages" class="btn btn-outline-secondary">@Model.PaginatedList.TotalPages</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)" class="btn btn-outline-secondary @nextDisabled">Next</a>
            </div>
            <div>
                <form method="post">
                    <select class="custom-select" style="width: 200px" onchange="form.submit()" asp-for="@Model.CourseTypesId" asp-items="listCoursesTypes"></select>
                    <select class="custom-select" style="width: 300px" onchange="form.submit()" asp-for="@Model.CourseGroupsId" asp-items="listGroups"></select>
                </form>
            </div>
        </div>
        <br />
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Course Name</th>
                <th>Type</th>
                <th>Group</th>
                <th>Trainers</th>
                <th>Action</th>
            </tr>
            @foreach (var course in Model.PaginatedList)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.CourseType.Name</td>
                    <td>@course.CourseGroup.Name</td>

                    <td rowspan="2">
                        @foreach (var trainers in course.CourseTrainers)
                        {
                            <button type="button" class="btn btn-link p-0" style="font-size: 14px; width: 170px;" data-toggle="modal" data-target="#myModal" onclick="modalFunction('@trainers.Trainer.User.Id')">
                                @trainers.Trainer.User.FirstName @trainers.Trainer.User.LastName
                            </button>
                        }
                    </td>
                    <td rowspan="2">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(@course.Description)</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span id="firstName"></span> <span id="lastName"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <div>
                    <img id="photo" class="m-2" alt="..." )>
                </div>
                <h6 id="description"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>