﻿@model IEnumerable<TrainerGroup>

@{
    ViewBag.Title = "List of trainers";
}

@foreach (var group in Model)
{
    <div class="card mb-2">
        <div class="card-header">@group.Name</div>
        <div class="card-body">
            <div class="d-flex flex-row flex-wrap">
                @foreach (var trainer in group.Trainers)
                {
                    <div class="card col-4 m-2 pr-2 pl-2 bordered-card">
                        <div class="p-0 m-0">
                            <div class="d-flex flex-row-reverse justify-content-between flex-nowrap p-3">
                                <div>
                                    <img class="m-2" alt="..." src="@($"data:image/jpg;base64,{Convert.ToBase64String(trainer.User.Photo)}")">
                                </div>
                                <div class="flex-column">
                                    <div class="float-left p-1">
                                        <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#myModal" onclick="modalFunction('@trainer.User.Id')">
                                            <div class="d-flex flex-row flex-wrap">
                                                <h5>@trainer.User.FirstName @trainer.User.LastName</h5>
                                            </div>
                                            <svg width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span id="firstName"></span> <span id="lastName"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <div>
                    <img id="photo" class="m-2" alt="..." )>
                </div>
                <h6 id="description"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>