﻿@model TrainerGroupViewModel

@{
    ViewBag.Title = "List of Trainers Group";
}

<div class="card">
    <div class="card-header">
        <h3>List of courses group</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            @foreach (var trainerGroup in Model.TrainerGroups)
            {
                <tr>
                    <td>@trainerGroup.Name</td>
                    <td>@trainerGroup.Description</td>
                    <td>@trainerGroup.VisualOrder</td>
                    <td>
                        <div class="container">
                            <div class="row float-left">
                                <div class="col">
                                    <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modalEdit" onclick="modalFunctionEditTrainerGroup('@trainerGroup.Id')">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col ">
                                    <form asp-controller="TrainerGroup" asp-action="Delete" style="display: inline">
                                        <input type="hidden" name="id" value="@trainerGroup.Id" />
                                        <button class="btn btn-link p-0"
                                                @if (trainerGroup.Trainers.Any()) { @Html.Raw("disabled")  }>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Edit</span>  <span id="trainerGroupLabel"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <form>
                    <input type="hidden" id="trainerGroupId" />
                    <div class="form-group">
                        <label>Name</label>
                        <input id="trainerGroupName" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="trainerGroupDescription">Description</label>
                        <textarea id="trainerGroupDescription" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Visual Order</label>
                        <input id="trainerGroupVisualOrder" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalFunctionUpdateTrainerGroup()">Update</button>
            </div>
        </div>
    </div>
</div>
