﻿@model Course

@{
    ViewBag.Title = "Course details";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-body">
        <div class="card border border-white ">
            <div>
                <span class="bg-secondary text-white rounded-lg">@Model.CourseType.Name</span>
            </div>
            <div>
                <div class="d-flex flex-row flex-wrap">
                    @Html.Raw(Model.Description);
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a asp-controller="Course" asp-action="List" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>