﻿@model CourseListViewModel

@{
    ViewBag.Title = "Courses";
    var prevDisabled = !Model.PaginatedList.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedList.NextPage ? "disabled" : "";
    var hidden = Model.PaginatedList.Count == 0 ? "invisible" : "";

    var listCoursesTypes = new List<SelectListItem> { new SelectListItem("All Types", "All Types") };
    listCoursesTypes.AddRange(Model.CourseTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
    listCoursesTypes.Add(new SelectListItem("None", "None"));

    var listGroups = new List<SelectListItem> { new SelectListItem("All Groups", "All Groups") };
    listGroups.AddRange(Model.CourseGroups.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
    listGroups.Add(new SelectListItem("None", "None"));
}

<div class="card">
    <div class="card-header">
        <h3 class="float-left">Courses</h3>
        <div class="float-right">
            <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modalCreate">
                <svg width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row d-flex justify-content-between">
            <div class="@hidden">
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)" class="btn btn-outline-secondary @prevDisabled">Previous</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="1" class="btn btn-outline-secondary @prevDisabled">1</a>
                @for (var i = 1; i <= Model.PaginatedList.TotalPages; i++)
                {
                    if (i == Model.PaginatedList.PageIndex)
                    {
                        if (Model.PaginatedList.PageIndex - 1 > 1)
                        {
                            <a>...</a>
                        }

                        if (i != 1 && i != Model.PaginatedList.TotalPages)
                        {
                            <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" class="btn btn-outline-secondary" asp-route-pageNumber="@i">@i</a>
                        }

                        if (Model.PaginatedList.TotalPages - Model.PaginatedList.PageIndex > 1)
                        {
                            <a>...</a>
                        }
                    }
                }
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@Model.PaginatedList.TotalPages" class="btn btn-outline-secondary">@Model.PaginatedList.TotalPages</a>
                <a asp-action="List" asp-route-model="@Model" asp-route-courseTypesId="@Model.CourseTypesId" asp-route-courseGroupsId="@Model.CourseGroupsId" asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)" class="btn btn-outline-secondary @nextDisabled">Next</a>
            </div>
            <div>
                <form method="post">
                    <select class="custom-select" style="width: 200px" onchange="form.submit()" asp-for="@Model.CourseTypesId" asp-items="listCoursesTypes"></select>
                    <select class="custom-select" style="width: 300px" onchange="form.submit()" asp-for="@Model.CourseGroupsId" asp-items="listGroups"></select>
                </form>
            </div>
        </div>
        <br />
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Course Name</th>
                <th>Type</th>
                <th>Group</th>
                <th>Trainers</th>
                <th>Action</th>
            </tr>
            @foreach (var course in Model.PaginatedList)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.CourseType.Name</td>
                    <td>@course.CourseGroup.Name</td>

                    <td rowspan="2">
                        @foreach (var trainers in course.CourseTrainers)
                        {
                            <button type="button" class="btn btn-link p-0" style="font-size: 14px; width: 170px;" data-toggle="modal" data-target="#myModal" onclick="modalFunction('@trainers.Trainer.User.Id')">
                                @trainers.Trainer.User.FirstName @trainers.Trainer.User.LastName
                            </button>
                        }
                    </td>
                    <td rowspan="2">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                            <circle cx="8" cy="4.5" r="1" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modalEdit" onclick="modalFunctionEditCourse('@course.Id')">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <form asp-controller="Course" asp-action="Delete" style="display: inline">
                                        <input type="hidden" name="id" value="@course.Id" />
                                        <button class="btn btn-link p-0">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <div class="col">
                                    <a asp-controller="Course" asp-action="Trainers" asp-route-id="@course.Id">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(@course.Description)</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span id="firstName"></span> <span id="lastName"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <div>
                    <img id="photo" class="m-2" alt="..." )>
                </div>
                <h6 id="description"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create course</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <form>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input class="form-control" id="Name">
                    </div>
                    <div class="form-group">
                        <label>Course Group</label>
                        <select id="courseGroup" class="form-control" asp-items="@(new SelectList(Model.CourseGroups, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Course Type</label>
                        <select id="courseType" class="form-control" asp-items="@(new SelectList(Model.CourseTypes, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Visual Order</label>
                        <input id="visualOrder" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isNew">
                            <label class="form-check-label" for="isNew">Is New</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="courseDescription">Description</label>
                        <textarea id="courseDescription" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalFunctionCreateCourse()">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Update course</span> <span id="titleCourse"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <form>
                    <input type="hidden" id="courseId" />
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input class="form-control" id="courseName">
                    </div>
                    <div class="form-group">
                        <label>Course Group</label>
                        <select id="courseGroupName" class="form-control" asp-items="@(new SelectList(Model.CourseGroups, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Course Type</label>
                        <select id="courseTypeName" class="form-control" asp-items="@(new SelectList(Model.CourseTypes, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <label>Visual Order</label>
                        <input id="visualOrderName" type="email" class="form-control" aria-describedby="emailHelp" value="0" placeholder="0">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isNewName">
                            <label class="form-check-label" for="isNew">Is New</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="courseDescription">Description</label>
                        <textarea id="courseDescriptionName" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="modalFunctionUpdateCourse()">Update</button>
            </div>
        </div>
    </div>
</div>