﻿@model CourseTrainersEditModel

@{
    ViewBag.Title = "Course Trainers";
    var list = Model.PotentialTrainers.Select(x => new SelectListItem(x.User.ToString(), x.Id.ToString())).ToList();
}

<div class="card">
    <div class="card-header">
        <h3>Update trainers for @Model.Course.Name</h3>
    </div>
    <div class="card-body">
        <form asp-action="AddTrainer" asp-route-id="@Model.Course.Id">
            Add trainer: <select asp-for="@Model.TrainerId" asp-items="list"></select>
            <input type="submit" class="btn btn-primary" value="Add" />
        </form>
        <hr />
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Trainer</th>
                <th class="text-center" style="min-width: 150px">Order</th>
                <th class="text-center" style="min-width: 150px">Action</th>
            </tr>
            @foreach (var courseTrainer in Model.CourseTrainers)
             {
                <tr>
                    <td>@courseTrainer.Trainer.User.FirstName  @courseTrainer.Trainer.User.LastName</td>
                    <td>
                        <form asp-action="EditCourseTrainer" asp-route-id="@Model.Course.Id" style="display: inline">
                            <input type="hidden" name="trainerId" value="@courseTrainer.Trainer.Id"/>
                            <input type="text" name="courseTrainerVisualOrder" value="@courseTrainer.VisualOrder" />
                        </form>
                    </td>
                    <td class="text-center">
                        <form asp-action="RemoveTrainer" asp-route-id="@Model.Course.Id" style="display: inline">
                            <input type="hidden" name="trainerId" value="@courseTrainer.Trainer.Id" />
                            <button class="btn btn-link p-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
             }
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="List" class="btn btn-secondary">Return to list</a>
    </div>
</div>